/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial;
background-color: #173f5f;
display: flex;
font-size: 15px;
align-items: center;
align-content: center;
color: white;
}